{% extends 'base.html.twig' %}

{% block title %}Modifier le calendrier{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mt-5">Modifier le calendrier</h1>

    {{ include('calendar/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_calendar_index') }}" class="btn btn-secondary mb-3">Retour à la liste de rendez-vous</a>

    {{ include('calendar/_delete_form.html.twig') }}
</div>
{% endblock %}
