{% extends 'base.html.twig' %}

{% block title %}Nouveau calendrier{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mt-5">Créer un nouvelle note</h1>

    {{ include('calendar/_form.html.twig') }}

    <a href="{{ path('app_calendar_index') }}" class="btn btn-secondary mb-3">Retour à la liste</a>
</div>
{% endblock %}
