{% extends 'base.html.twig' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                {% for flash_error in app.flashes('reset_password_error') %}
                    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                {% endfor %}
                <h1 class="text-center">Réinitialiser votre mot de passe</h1>

                {{ form_start(requestForm, {'attr': {'class': 'form'}}) }}
                    <div class="form-group">
                        {{ form_row(requestForm.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'}}) }}
                    </div>
                    <div>
                        <small>
                            Saisissez votre adresse e-mail, et nous vous enverrons un lien pour réinitialiser votre mot de passe.
                        </small>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block">Envoyer l'email de réinitialisation du mot de passe</button>
                {{ form_end(requestForm) }}
            </div>
        </div>
    </div>
{% endblock %}
