body {
  background-image: linear-gradient(45deg, rgb(163, 12, 6) 0%, rgb(163, 12, 6) 22%,rgb(182, 55, 32) 22%, rgb(182, 55, 32) 29%,rgb(200, 97, 58) 29%, rgb(200, 97, 58) 39%,rgb(219, 140, 83) 39%, rgb(219, 140, 83) 45%,rgb(237, 182, 109) 45%, rgb(237, 182, 109) 100%);
  background-repeat: no-repeat;
  background-size: 100% 200%; /* Doubler la hauteur du fond d'écran */
}

@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
  font-family: 'Roboto', sans-serif;
}
.auth {
  border-radius: 15px; /* Ajout de la propriété border-radius pour arrondir les coins */

  &__header {
    padding: 5vh 1rem calc(7vh + 25px);

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b63720;
    
    background-size: cover;
    background-position: center center;
    position: relative;
    border-radius: 0.5rem;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }
  }

  &__logo {
    position: relative;
    z-index: 18;
    background: #fff;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.15);
    overflow: hidden;
  }

  &__body {
    padding-bottom: 2rem;
  }

  &__form {
    min-width: 280px;
    max-width: 340px;
    margin: auto;
    margin-top: -40px;
    padding: 0 10px;
    position: relative;
    z-index: 9;
    &_body {
      padding: 0.7rem 1.5rem 35px;
      border-radius: 0.5rem;
      background: #C76039;
      border: solid 1px #DA8B53;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    }
    &_title {
      font-size: 1.3rem;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 1.2rem;
    }
    &_actions {
      text-align: center;
      padding: 0 2rem;
      margin-top: -25px;
      .btn {
        border-radius: 30px;
        box-shadow: 0 2px 12px rgba(#3280e4, 0.5);
      }
    }
  }
}




.fc-event-main{
box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.card-text{
  color: #000;
  font-weight: bold;
}


h5.card-title {
  color: #000;
  font-weight: bold;
}




.card-body{
  background-color: #eeb66d;
}

a{
  color: #fff !important;
}