<footer class="text-center">
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-2">
        <ul class="list-unstyled">
          <li><h6>Navigation</h6></li>
          <li><a href="{{ path('app_home') }}" class="btn btn-link link-underline link-underline-opacity-0">Accueil</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <ul class="list-unstyled">
          <li><h6>Contact</h6></li>
          <li><a href="/app_contact" class="btn btn-link link-underline link-underline-opacity-0">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <ul class="list-unstyled">
          <li><h6>Plus d'info</h6></li>
          <li><a href="/app_contact" class="btn btn-link link-underline link-underline-opacity-0">Info</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <ul class="list-unstyled">
          <li><h6>Formulaire</h6></li>
          <!-- Ajoutez des liens vers "Formulaire" ici -->
        </ul>
        <ul class="list-unstyled">
          <li><a href="{{ path('app_register') }}" class="btn btn-link link-underline link-underline-opacity-0">Inscription</a></li>
          <li><a href="{{ path('app_login') }}" class="btn btn-link link-underline link-underline-opacity-0">Connexion</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <ul class="list-unstyled">
          <li><h6>Information Légales</h6></li>
          <li><a href="/politique-de-confidentialite" class="btn btn-link link-underline link-underline-opacity-0 link   link link-underline link-underline-opacity-0-underline-opacity-0">Politique de confidentialité</a></li>
          <li><a href="/conditions-generales" class="btn btn-link link-underline link-underline-opacity-0">Conditions générales</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
